/* Stylesheet for Optics */

html {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    background-color: white;
}

body {
    line-height: 1.4rem;
}

.container {
    max-width: 960px;
    margin: auto;
}

.flex {
    display: flex;
}

/* Header */

header {
    background: url(https://raw.githubusercontent.com/TimCakir/optics/master/resources/images/glasses-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 1rem;
    height: 30rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: .67em 0;
}

nav {
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    display: flex;
    align-items: center;
}

nav img {
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

ul {
    margin-right: 1rem;
}

ul li {
    display: inline;
    padding: 0 1rem;
}

.truncated-menu {
    display: none;
}

header .flex {
    justify-content: flex-end;
}

.main-banner {
    background-color: white;
    padding: 0.75rem 5rem;
    display: inline-block;
    margin-top: 10rem;
    margin-right: -2rem;
    line-height: 2.4rem;
}

@media only screen and (max-width: 1024px) { 
    header {
        padding-top: 0;
        height: 22rem;
    }

    nav.container {
        max-width: 100%;
    }

    .main-banner {
        padding: 0.75rem 4rem;
        margin-top: 5rem;
        margin-right: 2rem;
    }

    .main-banner h1 {
        font-size: 1.33rem;
    }
}

@media only screen and (max-width: 700px) {
    
}